{% extends "layout.html" %}

{% block header %}
<h1>Python Developer</h1>
<p>I'm a design-minded Python developer focused on building accessible products for the web.</p>
<img src="{{ url_for('static', filename='images/headshot.png')}}" alt="Headshot of myself">
{% endblock %}

{% block content %}

<section id="about">
    <h2>About Me</h2>
    <p>
        Experienced Front-End and Python developer with a focus on building pixel perfect, accessible products for the
        web. I live for the details whether it be cleanliness of code, or wrangling pixels. I'm dedicated, loyal, and
        personable. I turned a love of using the web to a love of creating it and have a continued drive to learn more
        and more, facing each challenge with fervor and determination.
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>
<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>Git</li>
        <li>SQL</li>
        <li>CSS</li>
        <li>Sass</li>
        <li>JavaScript</li>
        <li>React.js</li>
        <li>Node.js</li>
    </ul>
</section>
<section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
        {% for project in projects %}
        <div id="project{{ project.id }}" class="a-project">
            <h3>{{ project.title }} <a href="{{ url_for('project_detail', id=project.id) }}">
                <i class="fas fa-external-link-alt"></i>
            </a></h3>

            <a href="{{ project.github }}" class="github-btn" target="_blank" rel="noopener noreferrer nofollow">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <p>
                {{ project.description }}
            </p>
            <p>
                Skills: {{ project.skills }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div id="triangle4"></div>
</section>
<section id="contact">
    <i class="fas fa-paper-plane"></i>
    <h2>Contact Me</h2>
    <p>You can reach me at <a target="_blank" rel="noopener noreferrer nofollow"
            href="mailto:hans@steffens.co">hans@steffens.co</a> or follow me on one of the social networks listed below.
        Occasionally I take freelance work if it tickles my fancy. That includes design, Python, Front-End, WordPress
        development and / or web support.</p>
    <p>
        <i class="fas fa-envelope"></i>
        <a target="_blank" rel="noopener noreferrer nofollow" href="mailto:hans@steffens.co">hans@steffens.co</a>
    </p>
</section>

{% endblock %}